{% extends "base_generic.html" %}
{% block content %}

<!-- 

templates from here: 

https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Authentication

email implementation out of scope, but this link is provided:

https://docs.djangoproject.com/en/1.10/topics/email/ 

refer back to the tutorial for relevant templates, and use the second link to make it happen...

-->
<p>NOTE: this hasn't been implemented yet, email will not be sent, awaiting implementation, (developers: see comments...)</p>

<form action="" method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <p>{{ form.email }}</p> 
    <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
</form>

{% endblock %}