{% extends "base_generic.html" %}

{% block content %}
    <h1>Added quotes</h1>

    <p><a href="{% url 'quote-create' %}">Add Quote</a></p>

    {% if quote_list %}
    <ul>

      {% for quote in quote_list %} 
      <li>
        [Owner: {% if quote.owner %} {{quote.owner}} {% else %} Anonymous {% endif %}]
        {% if not quote.public_accessible %} (private) {% endif %} <br/> <br/>
        {{quote.text}} <br/> <br/>
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no private quotes.</p>
    {% endif %}       
{% endblock %}